<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeerToPeer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E82AD741D75A29D000A3247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E82AD8D1D75A29E000A3247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E82AD981D75A29E000A3247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
